.custom-list li {
  list-style: none;
  position: relative;
}

.custom-list li::before {
  content: "\f004";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  color: brown;
  left: -1.3em;
  top: 0.3em;
  font-family: FontAwesome;
}
